@mixin flexjustify($justif, $display) {
  display: flex;
  justify-content: center;
}
.main-section {
  justify-content: center;
  @include flexjustify("center", "flex");
  flex-wrap: wrap;
  width: auto;
  height: auto;
  gap: 30px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/Soluciones.png);
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1200px) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../img/soluciones768.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 768px) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../img/soluciones480.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main__title {
    color: $white-color;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    font-size: 44px;
    margin: 0px;
    padding-top: 200px;
    width: 696px;
    // margin-left: 235px;
    // padding-left: 200px;
    // padding-right: 100px;

    @media (max-width: 1200px) {
      font-size: 26px;
      width: 360px;
      // margin-left: 185px;
    }
  }
  .main__div {
    @include flexjustify("center", "flex");
    padding-top: 30px;
    padding-bottom: 200px;
    .mainbutton {
      justify-content: center;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      color: $white-color;
      background-color: $brand-color;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
.div-soluciones {
  align-items: center;
  display: flex;
  flex-direction: column;
}
